
archive.zip
data/ctweet/test.csv
data/ctweet/train.csv
data/food/test.csv
data/food/train.csv
data/reddit/test.csv
data/reddit/train.csv
data/sarcasm/test.csv
data/sarcasm/train.csv
data/stweet/test.csv
data/stweet/train.csv
data/toxic/test.csv
data/toxic/train.csv
ldavis_prepared_10
ldavis_prepared_10.html
vectored_no_stops_bi
vectored_no_stops_mono
vectored_no_stops_tri
built_out_df
bigram_association_measures
pos_bigram_association_measures
neg_bigram_association_measures
.ipynb_checkpoints/Initial EDA-checkpoint.ipynb
.ipynb_checkpoints/Pre-processing-checkpoint.ipynb
.ipynb_checkpoints/Modeling-checkpoint.ipynb
full_df_500_topics
full_df_250_topics
full_df_200_topics
full_df_150_topics
full_df_1500_topics
full_df_120_topics
full_df_110_topics
full_df_100_topics
full_df_1000_topics
df_nostops
all_topics_df_S50000
all_topics_df_S2000
model_stats_02122022.p
model_stats_50000Samples_10MonoFeats_10Topics
modeling_training_curve
modeling_training_curve_700
vectored_no_stops_bi_20000
vectored_no_stops_bi_F100_S20000
vectored_no_stops_bi_F10_S200
vectored_no_stops_bi_F10_S2000
vectored_no_stops_bi_F10_S50000
vectored_no_stops_mono_20000
vectored_no_stops_mono_F100_S20000
vectored_no_stops_mono_F10_S200
vectored_no_stops_mono_F10_S2000
vectored_no_stops_mono_F10_S50000
vectored_no_stops_tri_20000
vectored_no_stops_tri_F100_S20000
vectored_no_stops_tri_F10_S200
vectored_no_stops_tri_F10_S2000
vectored_no_stops_tri_F10_S50000
